body[data-layout-mode=horizontal] {
    .navbar-toggle {
        span {
            background-color: rgb(255 255 255 / 50%);
        }
    }
}

// Custom scrollbar
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb {
	background-color: rgb(86 113 240 / 70%);
	border: 1px solid rgb(50 58 70 / 20%);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(86 113 240);
}

.navbar-custom {
    background: rgb(65, 55, 156);
    background: linear-gradient(90deg, rgb(65, 55, 156) 0%, rgb(102, 88, 221) 47%, rgb(102, 88, 221) 100%);

    .pro-user-name {
        color: #FFF;
    }
}

.svg-computer {
    g {
        .st0 {
            fill: none;
            stroke: rgb(102, 88, 221);
            stroke-width: 5;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-miterlimit: 10;
        }
    }
}

.svg-cogs {
    g {
        .st0 {
            fill: none;
            stroke: rgb(102, 88, 221);
        }
    }
}


.type {
    // background: #e8e8eb;
    // border: 1px solid;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px;
    margin-bottom: 15px;


    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    transition: all .3s ease-in-out;
    &.active,
    &:hover, &:focus, &:active {
        transform: translateY(-3px);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    }

    span {
        display: block;
        font-size: 15px;
        font-weight: 500;
        color: #5671f0;
        text-transform: uppercase;
    }

    i {
        color: #0d1e35;
        display: block;
        font-size: 40px;
        // margin-bottom: 10px;
    }
}
